﻿/* Global
----------------------------------------------------------------------------------------------------*/
a {
  color: #1e90ff;
  text-decoration: none;
}
a:hover, a:active {
  color: #b22222;
}

body {
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CircularBold', cursive;
  letter-spacing: 1px;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.6em;
}
h6 {
  font-size: 1.4em;
}

#page {
  color: #474747;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
/* Layout
----------------------------------------------------------------------------------------------------*/

@media screen and (max-width:1349px) {
  #logo-and-name, #main-wrapper, #footer-wrapper footer {
    min-width: 520px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .have-sidebar #main-content {
    display: block;
  }
  .have-sidebar #sidebar-wrapper {
    display: none;
  }
  
  #logo-and-name {
    text-align: center;
  }
  
  #main-menu {
    text-align: center;
  }
  #main-menu-links {
    display: inline-block;
  }
}

/* Big screen featured with sidebar */
@media screen and (min-width:1350px) {
  #logo-and-name, #main-wrapper, #footer-wrapper footer,
  #main-menu-links {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  .have-sidebar #main-content {
    display: block;
    float: left;
    width: 960px;
    margin: 0 1% 0 0;
  }
  .have-sidebar #sidebar-wrapper {
    display: block;
    float: left;
    width: 280px;
    margin: 0 0 0 1%;
  }
}

/* Header
----------------------------------------------------------------------------------------------------*/
#header-wrapper {
}
#header {
}
#logo-and-name {
  display: block;
}
#logo-and-name > a {
  display: inline-block;
}
#site-logo {
  display: block;
}
#name-and-slogan {
  display: inline-block;
  margin-left: 1em;
}
#site-name {
  font-family: 'Fondamento', cursive;
  font-size: 3em;
  font-weight: bold;
}
#site-name a {
  color: #333;
  text-decoration: none;
}
#site-slogan {
  font-family: 'Fondamento', cursive;
}
#main-menu {
  background: #2a7fff;
  border-color: #2a7fff;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset;
  margin-top: 1em;
}
#main-menu-links {
  font-family: 'CircularBold', cursive;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
}
#main-menu-links li {
  display: inline-block;
}
#main-menu-links li a {
  color: #f0f0f0;
  display: block;
  font-weight: bold;
  padding: 0.6em 1.5em;
  margin: 1px 0;
}
#main-menu-links li:not(:first-child) a {
  margin-left: -0.4em;
  margin-right: -0.4em;
}
#main-menu-links li a:hover {
  background: #87cefa;
}
#main-menu-links li a.active {
  background: #f0f0f0;
  color: #474747;
}

#block-header {
  text-align: center;
  margin-top: 2em;
}

/* Content
----------------------------------------------------------------------------------------------------*/
#messages {
  margin-top: 2em;
}
#content {
}
#main {
  margin-top: 2em;
}
#main-content {
  background: #fefefe;
  border: 1px solid #cecece;
  position: relative;
  margin: 0;
  padding: 1em;
}
#featured {
  margin-bottom: 2em;
}
#page-title {
  margin: 0.25em 2em 0.25em 0;
  
}
#main-content .node-teaser {
  border-bottom: 4px double #cecece;
  padding-bottom: 1.5em;
}
#main-content .tabs {
  font-size: 0.85em;
}
.not-front .node {
  margin-top: -1.25em;
}
.node .node-title {
  margin: 0 2em 0 0;
}
.block .content .node h2 {
  font-size: 2.2em;
}
.node .submitted {
  font-family: 'Fondamento', cursive;
  font-size: 0.8em;
  color: #fefefe;
  text-align: center;
  text-transform: uppercase;
  background: #1e90ff;
  float: right;
  border-radius: 5px;
  position: relative;
  padding: 0.35em 0.75em;
  margin-top: -3em;
}
.not-front .node .submitted {
  position: absolute;
  top: 2em;
  right: 1.6%;
  margin-top: 0;
}
.node .submitted:after {
  content: "";
  border-color: rgba(0,0,0,0) #1e90ff rgba(0,0,0,0);
  border-style: solid;
  border-width: 0 0 12px 12px;
  left: 8px;
  bottom: -12px;
  display: block;
  width: 0;
  position: absolute;
}
.not-front.logged-in .node .submitted {
  margin-top: -7.5em;
}
.node .submitted span {
  display: block;
}
.node .field .field-label {
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: noramal;
  display: inline-block;
  margin: 0 0.5em 0 0;
}
.node .field .links {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.node .field .links li {
  display: inline-block;
  margin: 0 0.75em 0 0;
}
.node .field-node--body {
  margin-top: 1em;
}
.node .field-name-body img {
  background: #efefef;
  border: 1px solid #cecece;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 5px;
  margin: 0 auto;
}
.node .link-wrapper {
  text-align: right;
  margin-top: 1em;
}
.node .link-wrapper li {
  margin-left: 0.75em;
}
.node .link-wrapper .first {
  padding-left: 0;
}
.node .link-wrapper .last {
  padding-right: 0;
}
.node .link-wrapper .comment-add {
  display: none;
}

/* Sidebar & Block
----------------------------------------------------------------------------------------------------*/
.block h2 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
#block-node-recent .node-author {
  display: none;
}
#block-node-recent tbody {
  border-top: none;
}
#block-node-recent tr.odd,
#block-node-recent tr.even {
  background-color: transparent;
  border-bottom: none;
}

/* Footer
----------------------------------------------------------------------------------------------------*/
#footer-wrapper {
  background: #e0e0e0;
  border-top: 1px solid #ffffff;
  box-shadow: 0 10px 0 #2a7fff inset, 0 11px 0 #ffffff inset;
  padding-bottom: 2em;
  margin-top: 2.5em;
}
#footer {
  text-align: center;
  padding: 2em 0;
}
#panel-wrapper {
}
#panel-wrapper.n-panel-3 {

}
#panel-wrapper.n-panel-3 .panel {
  float: left;
  width: 33.333%;
}

/* Maintenance Mode
----------------------------------------------------------------------------------------------------*/

.maintenance-page #header {
  margin-top: 4em;
}
.maintenance-page #site-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.maintenance-page #name-and-slogan {
}
.maintenance-page #site-name {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
.maintenance-page #site-slogan {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}
.maintenance-page #main-content {
  text-align: center;
  padding: 3em 1.5em;
}
.maintenance-page #main-content h1 {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Weekday color
----------------------------------------------------------------------------------------------------*/
.sunday #footer-wrapper {
  box-shadow: 0 10px 0 #800000 inset, 0 11px 0 #FFFFFF inset;
}

.monday #footer-wrapper {
  box-shadow: 0 10px 0 #ffd74a inset, 0 11px 0 #FFFFFF inset;
}

.tueday #footer-wrapper {
  box-shadow: 0 10px 0 #ff69b4 inset, 0 11px 0 #FFFFFF inset;
}

.wednesday #footer-wrapper {
  box-shadow: 0 10px 0 #228b22 inset, 0 11px 0 #FFFFFF inset;
}

.thursday #footer-wrapper {
  box-shadow: 0 10px 0 #ff8c00 inset, 0 11px 0 #FFFFFF inset;
}

.friday #footer-wrapper {
  box-shadow: 0 10px 0 #9932cc inset, 0 11px 0 #FFFFFF inset;
}

.saturday #footer-wrapper {
  box-shadow: 0 10px 0 #1e90ff inset, 0 11px 0 #FFFFFF inset;
}

/* Responsive Design
----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1349px) {
  #page-title {
    text-align: center;
  }
}