@font-face {
    font-family: 'CircularBold';
    src: url('circularbold.eot');
    src: url('circularbold.eot') format('embedded-opentype'),
         url('circularbold.woff') format('woff'),
         url('circularbold.ttf') format('truetype'),
         url('circularbold.svg#CircularBold') format('svg');
}
